# УРОК 1

In [3]:
long_phrase = 'Насколько проще было бы писать программы, если бы не заказчики'
short_phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'
if len(long_phrase)>len(short_phrase):
    print('Первая длиннее')
elif len(long_phrase)<len(short_phrase):
    print('Вторая длиннее')
else:
    print('Длина равна')

Первая длиннее

In [5]:
text = 'Если программист в 9-00 утра на работе, значит, он там и ночевал'
print(text.count('а'))
print(text.count('и'))

7
4

In [10]:
bites=int(input())
print('Объем файла равен '+str(bites/1024)+'Mb')

2000
Объем файла равен 1.953125Mb

In [12]:
import math
math.sin(math.pi/6)

0.49999999999999994

In [13]:
0.1+0.2

0.30000000000000004

In [17]:
num='10011'
print(int(num, 4))

261

In [ ]:
a=int(input())
b=int(input())
a=a+b
b=a-b
a=a-b
print(a)
print(b)

# УРОК 2

In [48]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit6': ['Лиссабон', 'Португалия']},
    {'visit7': ['Тула', 'Россия']},
    {'visit8': ['Тула', 'Россия']},
    {'visit9': ['Курск', 'Россия']},
    {'visit10': ['Архангельск', 'Россия']},
]
geo_hyu=geo_logs.copy()
j=1
geo_logs.clear()
for i in geo_hyu:
    s='visit'+ str(j)
    j+=1
    if i[s][1]=='Россия':
        geo_logs.append(i)
print(geo_logs)

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}, {'visit7': ['Тула', 'Россия']}, {'visit8': ['Тула', 'Россия']}, {'visit9': ['Курск', 'Россия']}, {'visit10': ['Архангельск', 'Россия']}]

In [66]:
ids = {'user1': [213, 213, 213, 15, 213], 'user2': [54, 54, 119, 119, 119], 'user3': [213, 98, 98, 35]}
spisok=[]
for i in ids:
    spisok.extend(set(ids[i]))
print(set(spisok))

{98, 35, 15, 213, 54, 119}

In [76]:
q = [
    'смотреть сериалы онлайн',
    'новости спорта',
    'афиша кино',
    'курс доллара',
    'сериалы этим летом',
    'курс по питону',
    'сериалы про спорт',
]
b=[]
for i in q: b.append(len(i.split()))
print(b)

[3, 2, 2, 2, 3, 3, 3]

In [77]:
q = [
    'смотреть сериалы онлайн',
    'новости спорта',
    'афиша кино',
    'курс доллара',
    'сериалы этим летом',
    'курс по питону',
    'сериалы про спорт',
]
b=[]
for i in q:
    j=i.count(' ')+1
    b.append(j)
print(b)

[3, 2, 2, 2, 3, 3, 3]

In [87]:
stats = {'facebook': 55, 'yandex': 120, 'vk': 115, 'google': 99, 'email': 42, 'ok': 98}
j=max(stats.values())
for i in stats:
    if stats[i]==j:
        print (i)

yandex

In [108]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]
sum_page=0
users_id=[]
for i in stream:
    sum_page=sum_page+int(i.split(',')[2])
    users_id.append(i.split(',')[1])
print(sum_page/len(set(users_id)))

23.25

In [5]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]
s='Нет данных'
date, company=input().split()
for i in range(len(stats)):
    if stats[i][1]==company and stats[i][0]==date:
        s=stats[i][2]
        break 
print(s)

2018-01-07 google
ты педик

# Урок 3

In [130]:
def diag_sum(n):
    sum=0
    for i in range(len(n)):
        sum += n[i][i]
    return sum
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35],
]
print(diag_sum(data))

103

In [17]:
def sqr_sum(n):
    sum=0
    for i in n:
        if type(i)!= int:
            try:
                i=int(i)
            except ValueError:
                i=0
        sum += i
    return sum
data = [1, '5', 'abc', 20, '2']
print(sqr_sum(data))

28

Напишите функцию, возвращающую сумму первых n чисел Фибоначчи

In [40]:
def fib_sum(n):
    sum=0
    k1=0
    k2=1
    i=0
    while i<n-1:
        k3=k2+k1
        k1=k2
        k2=k3
        sum+=k1
        i+=1
    return sum
print(fib_sum(6))

12

Просто числа Фибоначчи

In [41]:
n=int(input())
k1=0
k2=1
i=0
print(k1)
print(k2)
while i<n-2:
    k3=k2+k1
    k1=k2
    k2=k3
    print(k2)
    i+=1

4
0
1
1
2

Напишите функцию, преобразующую произвольный список вида [‘2018-01-01’, ‘yandex’, ‘cpc’, 100] в словарь {‘2018-01-01’: {‘yandex’: {‘cpc’: 100}}}

In [51]:
list=['2018-01-01', 'yandex', 'cpc', 100]
dict={list[0]:{list[1]:{list[2]:list[3]}}}
print(dict)

{'2018-01-01': {'yandex': {'cpc': 100}}}

Напишите функцию, которая возвращает название валюты (поле ‘Name’) с максимальным значением курса с помощью сервиса https://www.cbr-xml-daily.ru/daily_json.js

In [32]:
import requests
import json
r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
valute_data = r.json()['Valute']
max_value=0.
for valute in valute_data:
    if float(valute_data[valute]['Value']) > max_value:
        max_value = float(valute_data[valute]['Value'])
        max_valute = valute
print(max_valute + ' = ' + str(valute_data[max_valute]['Value']))

DKK = 84.6829

In [35]:
import requests
import json
r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
valute_data = r.json()['Valute']
dict_={}
for valute in valute_data:
    dict_[valute] = valute_data[valute]['Value']

print(max(dict_.values()))

84.6829

In [13]:
r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
r.json()['Valute']

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 40.975,
  'Previous': 40.8636},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 35.5763,
  'Previous': 35.5215},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 73.4345,
  'Previous': 72.8564},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 15.3094,
  'Previous': 15.2765},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 25.032,
  'Previous': 25.0038},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 32.1992,
  'Previous': 31.8781},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 11.3799,
  'Previous': 11.1978},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 15.2342,
  'Previous': 15.1813},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 77.5281,
  'Previous': 77.4783},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 10,
  'Name': 'Датских крон',
  'Value': 84.6829,
  'Previous': 83.8365},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 60.4797,
  'Previous': 60.3866},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 62.8762,
  'Previous': 62.7814},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 100,
  'Name': 'Индийских рупий',
  'Value': 74.0288,
  'Previous': 73.9728},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 12.9799,
  'Previous': 13.0523},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 45.3439,
  'Previous': 45.0915},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 71.616,
  'Previous': 71.519},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 10,
  'Name': 'Китайских юаней',
  'Value': 84.2448,
  'Previous': 84.38},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 31.3443,
  'Previous': 31.3332},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 60.9705,
  'Previous': 60.6297},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 13.3837,
  'Previous': 13.3756},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 12.7924,
  'Previous': 12.7425},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 79.1595,
  'Previous': 79.0376},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 44.0814,
  'Previous': 44.0232},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 59.2357,
  'Previous': 59.1446},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 10,
  'Name': 'Турецких лир',
  'Value': 32.4788,
  'Previous': 32.4258},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 17.2799,
  'Previous': 17.2533},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 53.8536,
  'Previous': 53.808},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 16.376,
  'Previous': 16.3509},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 25.8162,
  'Previous': 25.5973},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 58.1429,
  'Previous': 57.882},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 63.9794,
  'Previous': 64.0299},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 35.402,
  'Previous': 35.5986},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 45.6899,
  'Previous': 45.465},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 43.5012,
  'Previous': 43.4592}}